.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.conteudo-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 25px;
  background: #403538;
  width: 300px;
  box-shadow: #2c232642 0px 4px 6px;
}

.formulario h2 {
  font-size: 1.6rem;
  color: #f6e3fa;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 800;
  font-style: normal;
}

.formulario form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formulario form label {
  font-size: 1rem;
  color: #f6e3fa;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 4px;
}

.formulario form input {
  padding: 10px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 0.8rem;
  transition: all 0.5s;
}

textarea {
  height: 100px;
  max-width: 300px;
}

.formulario form input:focus {
  border-radius: 16px;
}

.formulario form textarea {
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 0.8rem;
  margin-bottom: 30px;
  transition: all 0.5s;
}

.formulario form textarea:focus {
  border-radius: 16px;
}

.formulario form button {
  padding: 8px;
  cursor: pointer;
  background: transparent;
  border: 2px solid #f6e3fa;
  font-size: 1rem;
  color: #f6e3fa;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 600;
  font-style: normal;
  transition: all 0.6s;
  margin-bottom: 20px;
}

.formulario form button:hover {
  background: #f6e3fa;
  color: #1f1519;
  border-radius: 16px;
}

/* PAGINA OBRIGADO */
.conteudo-obrigado {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1f1519;
  flex-direction: column;
}

.conteudo-obrigado h1 {
  font-size: 2rem;
  color: #f6e3fa;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 20px;
}

.conteudo-obrigado p {
  font-size: 1.2rem;
  color: #f6e3fa;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 30px;
}

.conteudo-obrigado a {
  padding: 15px 55px;
  text-decoration: none;
  background: #f6e3fa;
  font-size: 1.2rem;
  color: #1f1519;
  font-family: "Kaisei Tokumin", serif;
  font-weight: 600;
  font-style: normal;
  transition: all 0.5s;
}

.conteudo-obrigado a:hover {
  border-radius: 16px;
}

@media (max-width: 1000px) {
    .conteudo-formulario {
      width: 260px
      }
      
      textarea {
        height: 100px;
        max-width: 260px;
      }
  }
  
  
@media (max-width: 860px) {
    .conteudo-formulario {
      width: 400px
      }
      
      textarea {
        height: 100px;
        max-width: 400px;
      }
  }

    
@media (max-width: 530px) {
    .conteudo-formulario {
      width: 300px
      }
      
      textarea {
        height: 100px;
        max-width: 300px;
      }
  }
  
  @media (max-width: 480px) {
    .conteudo-formulario {
      width: 240px
      }
    
      textarea {
        height: 100px;
        max-width: 240px;
      }
  }
  
  